[Unit]
# senti-eventbroker.service
Description=Senti Eventbroker
Documentation=https://github.com/senti-iot/senti-eventbroker/blob/master/README.md
# After=network.target

[Service]
WorkingDirectory=/srv/nodejs/senti/services/eventbroker/production
ExecStart=/usr/bin/node server.js
Environment=NODE_PORT=3027
Environment=NODE_ENV=production
Type=simple
Restart=always
# RestartSec=1
StartLimitInterval=0
User=root
Group=root
# KillSignal=SIGQUIT

[Install]
WantedBy=basic.target
